<h3>Initialize data frame</h3>

In [19]:
import pandas as pd
import numpy as np
from IPython.display import display

array = np.random.rand(4,4) # uniform dist
#array = np.random.randn(4,4) # normal dist

df = pd.DataFrame(array, columns = ['ff', 'ee', 'tt', 'uuu'])
display(df)

         ff        ee        tt       uuu
0  0.978977  0.675760  0.593749  0.896289
1  0.273302  0.372966  0.140486  0.701148
2  0.538935  0.588168  0.768187  0.614058
3  0.950267  0.598791  0.195413  0.207660

In [20]:
data = {'ID': [1, 2, 3],'Names': ['Kate', 'John', 'Max'],'Age': [50, 25, 41], 'Values': [3, 4, 8]}
df1 = pd.DataFrame(data=data, columns = ['ID', 'Names', 'Age', 'Values', 'Country'])
display(df1)

   ID Names  Age  Values Country
0   1  Kate   50       3     NaN
1   2  John   25       4     NaN
2   3   Max   41       8     NaN

<h3>Mappings for data frame columns</h3>

In [4]:
# Mapping from user defined dict
import pandas as pd
data = {'ID': [1, 2, 3,4],'Names': ['Kate', 'John', 'Max','Kate'],'Age': [50, 25, 41,89], 'Values': [3, 4, 8, 12]}
df = pd.DataFrame(data=data)
age_mapping = {25:0, 41:1, 50:2, 89:3}
df['AgeOrder'] = df['Age'].map(age_mapping)
df

   Age  ID Names  Values  AgeOrder
0   50   1  Kate       3         2
1   25   2  John       4         0
2   41   3   Max       8         1
3   89   4  Kate      12         3

In [8]:
# Map unique column values to index values
d = {key: value for (key, value) in zip(df['Names'].unique(),range(len(df['Names'].unique())))}
df['NameID'] = df['Names'].map(d)
df

   Age  ID Names  Values  AgeOrder  NameID
0   50   1  Kate       3         2       0
1   25   2  John       4         0       1
2   41   3   Max       8         1       2
3   89   4  Kate      12         3       0

<h3>Dropping fom data frame</h3>

In [16]:
import pandas as pd
from IPython.display import display
data = {'ID': [1, 2, 3],'Names': ['Kate', 'John', 'Max'],'Age': [50, 25, 41], 'Values': [3, 4, 8]}
df = pd.DataFrame(data=data, index = ['a','b','c'])
display(df)

# Drop columns by column label
df.drop(['Age', 'Names'], axis = 1, inplace = True)

# Drop column by fancy indexing
df.drop(df.columns[0], axis = 1, inplace = True)

# Drop rows by index label
df.drop(['b'], axis = 0 , inplace = True)

# Drop rows by index number
df.drop(df.index[[0]], axis = 0 , inplace = True)

display(df)

   Age  ID Names  Values
a   50   1  Kate       3
b   25   2  John       4
c   41   3   Max       8

   Values
c       8

<h3>Import Excel file</h3>

In [ ]:
import pandas as pd
import os
path = r'C:\myfolder'
file = 'myfile.xlsx'
df = pd.read_excel(os.path.join(path,file))