# General information

<i>'No BS, just essential R data wrangling!'</i> 

This is a cheat sheet to data wrangling with R. Inspired by my cheat sheet for Python pandas, the aim is to cover essential tips and tricks for data work flow. Each topic is featured with a minimal working example. The cheat sheet is work in progress, meaning that all suggestions for improvements are welcome!

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><span><a href="#General-information" data-toc-modified-id="General-information-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>General information</a></span></li><li><span><a href="#Input/output-data" data-toc-modified-id="Input/output-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Input/output data</a></span><ul class="toc-item"><li><span><a href="#Excel" data-toc-modified-id="Excel-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Excel</a></span></li><li><span><a href="#csv" data-toc-modified-id="csv-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>csv</a></span><ul class="toc-item"><li><span><a href="#Import" data-toc-modified-id="Import-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Import</a></span></li></ul></li><li><span><a href="#SQL" data-toc-modified-id="SQL-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>SQL</a></span></li></ul></li><li><span><a href="#Basic-data-frame-operations" data-toc-modified-id="Basic-data-frame-operations-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Basic data frame operations</a></span><ul class="toc-item"><li><span><a href="#DataFrame-initialization" data-toc-modified-id="DataFrame-initialization-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>DataFrame initialization</a></span></li><li><span><a href="#Modifying-data-frame" data-toc-modified-id="Modifying-data-frame-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Modifying data frame</a></span><ul class="toc-item"><li><span><a href="#Changing-data-types" data-toc-modified-id="Changing-data-types-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Changing data types</a></span></li><li><span><a href="#Dropping-from-DataFrame" data-toc-modified-id="Dropping-from-DataFrame-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Dropping from DataFrame</a></span></li></ul></li><li><span><a href="#Altering-DataFrame-values" data-toc-modified-id="Altering-DataFrame-values-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Altering DataFrame values</a></span></li><li><span><a href="#Slicing-data-frame" data-toc-modified-id="Slicing-data-frame-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Slicing data frame</a></span><ul class="toc-item"><li><span><a href="#Basic-slicing" data-toc-modified-id="Basic-slicing-3.4.1"><span class="toc-item-num">3.4.1&nbsp;&nbsp;</span>Basic slicing</a></span></li><li><span><a href="#Boolean-masking" data-toc-modified-id="Boolean-masking-3.4.2"><span class="toc-item-num">3.4.2&nbsp;&nbsp;</span>Boolean masking</a></span></li></ul></li></ul></li><li><span><a href="#Data-cleaning" data-toc-modified-id="Data-cleaning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data cleaning</a></span></li><li><span><a href="#Data-wrangling-tricks" data-toc-modified-id="Data-wrangling-tricks-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Data wrangling tricks</a></span></li><li><span><a href="#Data-cleaning" data-toc-modified-id="Data-cleaning-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data cleaning</a></span><ul class="toc-item"><li><span><a href="#Find-NA-values" data-toc-modified-id="Find-NA-values-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Find NA values</a></span></li><li><span><a href="#Clean-NaN-values" data-toc-modified-id="Clean-NaN-values-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Clean NaN values</a></span></li></ul></li><li><span><a href="#Unsorted" data-toc-modified-id="Unsorted-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Unsorted</a></span></li></ul></div>

# Input/output data

## Excel

## csv

### Import

In [2]:
#df = read.csv(file="my/path/file.csv", header=TRUE, sep=",")

## SQL

# Basic data frame operations

## DataFrame initialization

In [76]:
df = data.frame(x=1:5,y=5:1,z=rep(5,5))

# Set one of the columns as index and remove that column
rownames(df) = df$y; df=df[,!(names(df) %in% c("y"))]

# Re-setting index
df2 = cbind(df)
rownames(df2) = NULL

# Set index to some sequence
df3 = cbind(df)
rownames(df3) = 1:dim(df)[1]

df

  x z
5 1 5
4 2 5
3 3 5
2 4 5
1 5 5

## Modifying data frame

### Changing data types

In [27]:
df = data.frame(x=1:5,y=rep('fg',5),z=factor(c(1,3,2,3,1), levels=c(1,2,3)))

typeof(df[['z']])

[1] "integer"

### Dropping from DataFrame

In [80]:
df = data.frame(x=1:5,y=5:1,z=rep(5,5))

# Drop columns by name
df2 = df[ , !(names(df) %in% c("x","z"))]

# Drop all other columns except
df3 = df[c("x")]

# Drop rows by row name (index)
remove = c('2','5')
df4 = df[!rownames(df) %in% remove, ]

head(df4)

  x y z
1 1 5 5
3 3 3 5
4 4 2 5

## Altering DataFrame values

In [133]:
df = data.frame(x=1:5,y=5:1,z=rep(5,5))
df2 = cbind(df)
df3 = cbind(df)

# Apply change to whole column
df2[['x']] = df2[['x']] * 0.8

# Conditionally modify certain cells
df2[which(df2$y > 3),c('y')] = df2[which(df2$y > 3),c('y')] + df2[which(df2$y > 3),c('x')] + 20

# Another way with apply
df3[which(df3$y == 5),'y'] = apply(df3[which(df3$y == 5),], 1, function(x) x[['x']] + 2*x[3])

df3

  x y  z
1 1 11 5
2 2  4 5
3 3  3 5
4 4  2 5
5 5  1 5

## Slicing data frame

### Basic slicing

### Boolean masking

In [108]:
df = data.frame(x=1:10,y=10:1,z=rep(5,10),a=11:20)

# Get row slice fulfilling a condition along one column
df2 = df[df[['x']] < 5, ]

# Get row slice fulfilling a condition along one column,
# return only certain columns
df3 = df[which(df[['x']] < 5), c('y', 'a')]

# Notice that NA values are given FALSE if condition not met 
df4 = cbind(df); df4[1,1] = NA
df4 = df4[which(!df4[['x']] == 3),]

# Display
df4

   x  y z a
2   2 9 5 12
4   4 7 5 14
5   5 6 5 15
6   6 5 5 16
7   7 4 5 17
8   8 3 5 18
9   9 2 5 19
10 10 1 5 20

# Data cleaning

# Data wrangling tricks

# Data cleaning

## Find NA values

In [103]:
df = data.frame(x=1:5,y=5:1,z=rep(5,5))
df[2,3] = NA;df[1,1] = NA;df[1,3] = NA
df[5,1] = NA;df[5,2] = NA;df[5,3] = NA

# Only rows where column x is NA
df2 = df[which(is.na(df$x)), ]

df

  x  y  z
1 NA  5 NA
2  2  4 NA
3  3  3  5
4  4  2  5
5 NA NA NA

## Clean NaN values

In [54]:
df = data.frame(x=1:5,y=5:1,z=rep(5,5))
df[2,3] = NA;df[1,1] = NA;df[1,3] = NA
df[5,1] = NA;df[5,2] = NA;df[5,3] = NA

# Only rows without any NA
df2 = df[complete.cases(df), ]

# Only rows without NA in second column
df3 = df[complete.cases(df[ ,2]),]

# Only rows without NA in columns 'x' and 'y'
df4 = df[complete.cases(df[ ,c('x','y')]),]

df4

  x y z
2 2 4 NA
3 3 3  5
4 4 2  5

# Unsorted

In [56]:
sprintf("Let us print number %.2f and string %s",45,'66')

[1] "Let us print number 45.00 and string 66"